<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trips.mapper.payment.CartMapper">
	

	<resultMap type="com.trips.domain.payment.CartList" id="cartListResultMap">
		<id property="cart_id" column="CART_ID"></id>
		<result property="id" column="M_ID" />
		<result property="boardnum" column="B_NO" />
		<result property="price" column="PRICE" />
		<result property="renamedFileName" column="renamedFileName" />
	
	</resultMap>

	<select id="cartList" parameterType="String"
		resultMap="cartListResultMap">

		SELECT c.CART_ID cart_id,m.M_ID id,c.B_NO boardnum,
		PRICE price,renamedFileName
		from CART c
		LEFT JOIN MEMBER m on m.M_ID = c.CART_ID
		AND c.M_ID = m.M_ID
		left join ACTI_BOARD a
		on c.B_NO = a.B_NO
		where c.B_NO =
		a.B_NO;

	</select>

	<insert id="addCart">

		INSERT INTO CART(
		M_ID,
		B_NO,
		PERSON,
		PRICE
		)
		VALUES(1,'aa',1,'1');


	</insert>
 
	<delete id="deleteCart">
		DELETE FROM cart WHERE CART_ID=#{cart_id}
	</delete> 

	<delete id="deleteAllCart">
		DELETE FROM cart WHERE CART_ID=#{cart_id}
	</delete>

</mapper>
	