<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.trips.mapper.payment.OrderMapper">
   
  <resultMap type="com.trips.domain.payment.OrderList" id="orderListResultMap">
  	<id property="orderId" column="O_ORDER_ID"></id>
  	<result property="cart_id" column="C_CART_ID"/>
  	<result property="id" column="M_ID"/>
  	<result property="name" column="O_NAME"/>
  	<result property="email" column="O_EMAIL"/>
  	<result property="phone" column="O_PHONE"/>
  	<result property="boardnum" column="B_NO"/>
  	<result property="boardtitle" column="B_TITLE"/>
  	<result property="addDate" column="O_ADDDATE"/>
  	<result property="person" column="person"/>
  	<result property="price" column="O_PRICE"/>
  	<result property="renamedFileName" column="renamedFileName"/>
  </resultMap>
   
   <!-- <select id="paymentSelect" resultType="com.trips.domain.payment.OrderList">
  
  SELECT O_ORDER_ID orderId,
  		 O_NAME name,
  		 O_EMAIL email,
  		 O_PHONE phone,
  		 m.M_ID id,
  		 O_AMOUNT amount,
  		 O_ORDER_DATE date,
  		 RES_NO resNo,
  		 O_PRICE price,
  		 renamedFileName
  FROM ACTI_ORDER o
  LEFT JOIN MEMBER m on m.M_ID = o.M_ID
  
  
  </select> -->
  
  <select id="paymentSelect" parameterType="map" resultType="com.trips.domain.payment.OrderList">
  
  SELECT O_ORDER_ID orderId,
  		 m.M_ID id,
  		 O_B_NO boardnum,
  		 O_CART_ID cart_id,
  		 O_ADDDATE adddate,
  		 O_PERSON person,
  		 O_PRICE price
  FROM ACTI_ORDER o 
  LEFT JOIN ACTI_BOARD ACTI_BOARD ON o.O_B_NO = ACTI_BOARD.B_NO
  LEFT JOIN MEMBER m on m.M_ID = o.M_ID
LEFT JOIN CART c ON o.O_CART_ID = c.CART_ID
  	WHERE o.O_CART_ID = c.CART_ID
  
  
  </select>
  
  <!--밑의 쿼리문 수정해야함. -->
   <insert id="paymentInsert">
   	INSERT INTO ACTI_ORDER (
   				O_ORDER_ID
   				O_B_NO
   				O_CART_ID
   				M_ID	        
   				) VALUES (
   				#{id},
				#{boardNumber},
				#{cartId},
   				#{memberId}
   				)
  </insert>
  
  	<insert id="insertOrder"> 
  	<!-- useGeneratedKeys="true" keyColumn="O_ORDER_ID" keyProperty="" -->
  	INSERT INTO ACTI_ORDER(M_ID, O_B_NO, O_CART_ID, O_ADDDATE, O_PRICE, O_PERSON, renamedFilename)
	VALUES(#{id}, #{boardNumber}, #{cartId}, #{addDate}, #{price}, #{person}, #{renamedFilename});
  	</insert>
  	
 	
 	<select id="getOrder" resultType="com.trips.domain.payment.Test2Dto">
  	SELECT
		O_ORDER_ID orderId,
		M_ID id, 
	    O_B_NO boardNumber, 
	    O_CART_ID cartId, 
	    O_ADDDATE addDate, 
	    O_PRICE price, 
	    O_PERSON person, 
	    renamedFilename
	FROM ACTI_ORDER
	WHERE O_ORDER_ID = #{orderId};
  	</select>
  	
 	<insert id="insertRes"> 
  	INSERT INTO ACTI_RESERVATION(M_ID, B_NO, DATE)
	VALUES(#{id}, #{boardNumber}, #{addDate});
  	</insert>
  	
  	<select id="getInfo" resultType="com.trips.domain.payment.OrderPageDto">
  		SELECT 
			c.CART_ID cartId,
		    c.M_ID id,
		    c.B_NO boardNo,
		    c.ADDDATE addDate,
		    c.PERSON person,
		    c.PRICE price,
		    c.renamedFilename,
		    b.B_TITLE title,
		    f.B_FILENAME fileName,
		    m.M_NAME name,
		    m.M_EMAIL email,
		    m.M_PHONE phone
		FROM CART c
		JOIN ACTI_BOARD b ON c.B_NO = b.B_NO
		JOIN ACTI_FILE f ON f.B_NO = b.B_NO
		JOIN MEMBER m ON c.M_ID = m.M_ID
		WHERE c.CART_ID = #{sA}
		GROUP BY cartId;
  	</select>
  	
  	<delete id="removeCart">
  		DELETE FROM CART
  		WHERE CART_ID = #{cartId}
  	</delete>
  </mapper>