<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.study.mapper.member.MemberMapper">

	<insert id="insert">
	INSERT INTO Member (id, password, name, gender, phone, email, host)
	VALUES (#{id}, #{password}, #{name}, #{gender}, #{phone}, #{email}, #{host})
	</insert>

	<select id="selectById" resultMap="memberMap">
	SELECT 
		id,
		password,
		name,
		gender,
		phone,
		email,
		host
	FROM
		Member m LEFT JOIN Authority a ON m.id = a.memberId
	WHERE
		id = #{id}
	</select>
	
		<select id="selectByEmail" resultType="com.study.domain.member.MemberDto">
	SELECT 
		id,
		password,
		password,
		name,
		gender,
		phone,
		email,
		host
	FROM
		Member
	WHERE
		email = #{email}
	</select>
</mapper>