<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.trips.mapper.jjhMember.jjhMemberMapper">

	<insert id="insert">
	INSERT INTO MEMBER (M_ID, M_PASSWORD, M_NAME, M_GENDER, M_PHONE, M_EMAIL, M_HOST)
	VALUES (#{M_ID}, #{M_PASSWORD}, #{M_NAME}, #{M_GENDER}, #{M_PHONE}, #{M_EMAIL}, #{M_HOST})
	</insert>

	<select id="selectById" resultMap="memberMap">
	SELECT 
		M_ID,
		M_PASSWORD,
		M_NAME,
		M_GENDER,
		M_PHONE,
		M_EMAIL,
		M_HOST_REQUEST,
		M_AUTHORITY
	FROM
		MEMBER
	WHERE
		M_ID = #{id}
	</select>
	
	
	<resultMap type="com.trips.domain.jjhMember.jjhMemberDto" id="memberMap">
		<id column="M_ID" property="M_ID"></id>
		<result column="M_PASSWORD" property="M_PASSWORD"/>
		<result column="M_NAME" property="M_NAME"/>
		<result column="M_GENDER" property="M_GENDER"/>
		<result column="M_PHONE" property="M_PHONE"/>
		<result column="M_EMAIL" property="M_EMAIL"/>		
		<result column="M_HOST_REQUEST" property="M_HOST"/>
		<result column="M_AUTHORITY" property="M_AUTHORITY"/>
	</resultMap>
	
	<select id="selectByEmail" resultType="com.trips.domain.jjhMember.jjhMemberDto">
	SELECT 
		M_ID,
		M_PASSWORD
		M_NAME,
		M_GENDER,
		M_PHONE,
		M_EMAIL,
		M_HOST_REQUEST
	FROM
		MEMBER
	WHERE
		M_EMAIL = #{email}
	</select>
</mapper>