<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.trips.mapper.yds.ydsBoardMapper">
<delete id="deleteLikeByLNO">
DELETE FROM ACTI_LIKE WHERE B_NO = #{B_NO} AND M_ID = 'aa'
</delete>

<insert id="plusLike" useGeneratedKeys="true" keyProperty="board.L_NO">
INSERT INTO ACTI_LIKE (
	L_CLICK,
	M_ID,
    B_NO
)
VALUES(1, 'aa', #{num});
	
</insert>

<select id="getAllBoard" resultMap="allBoard">
SELECT
	b.B_NO num,
	b.B_TITLE title,
	b.M_ID writer,
	b.B_CONTENT content,
	f.B_FILENAME fileName,
	b.MAX_PERSON maxPerson,
	b.COST price
FROM ACTI_BOARD b
LEFT JOIN ACTI_FILE f on f.B_NO = b.B_NO
GROUP BY b.B_NO
ORDER BY b.B_NO DESC;
</select>

<resultMap type="com.trips.domain.yds.TripsBoardDto" id="allBoard">
		<result column="num" property="num"></result>
		<result column="title" property="title"/>
		<result column="writer" property="writer"></result>
		<result column="content" property="content"/>
		<result column="maxPerson" property="maxPerson"></result>
		<result column="price" property="price"></result>
		<collection property="fileName" ofType="String">
			<result property="fileName" column="fileName"/>
		</collection>
</resultMap>

<select id="getBoardList" resultMap="boardListMap">
SELECT
	b.B_NO num,
	b.B_TITLE title,
	b.M_ID writer,
	b.B_CONTENT content,
	f.B_FILENAME fileName,
	b.MAX_PERSON maxPerson,
	b.COST price
FROM ACTI_BOARD b
LEFT JOIN ACTI_FILE f on f.B_NO = b.B_NO
GROUP BY b.B_NO
ORDER BY b.B_NO DESC
LIMIT 20;
</select>

<resultMap type="com.trips.domain.yds.TripsBoardDto" id="boardListMap">
		<result column="num" property="num"></result>
		<result column="title" property="title"/>
		<result column="writer" property="writer"></result>
		<result column="content" property="content"/>
		<result column="maxPerson" property="maxPerson"></result>
		<result column="price" property="price"></result>
		<collection property="fileName" ofType="String">
			<result property="fileName" column="fileName"/>
		</collection>
</resultMap>



<select id="getFiveFiles" resultMap="getfiveMap">
SELECT
	b.B_NO num,
	b.B_TITLE title,
	b.M_ID writer,
	b.B_CONTENT content,
	f.B_FILENAME fileName,
	b.B_CREATEDATE createDate,
	b.COST price,
	b.MAX_PERSON maxPerson
FROM ACTI_BOARD b
LEFT JOIN ACTI_FILE f on f.B_NO = b.B_NO
GROUP BY b.B_NO
ORDER BY b.B_NO DESC
LIMIT 5; 
</select>
<resultMap type="com.trips.domain.yds.TripsBoardDto" id="getfiveMap">
		<result column="num" property="num"></result>
		<result column="title" property="title"/>
		<result column="writer" property="writer"></result>
		<result column="content" property="content"/>
		<result column="createDate" property="createDate"/>
		<result column="price" property="price"/>
		<collection property="fileName" ofType="String">
			<result property="fileName" column="fileName"/>
		</collection>
</resultMap>

<select id="getBoard" resultMap="boardMap">
SELECT
	b.B_NO num,
	b.B_TITLE title,
	b.M_ID writer,
	b.B_CONTENT content,
	b.B_CREATEDATE createDate,
	b.B_HOSTINTRO hostIntro,
	(SELECT COUNT(*) FROM ACTI_LIKE l WHERE l.B_NO= #{num}) countLike,
	b.COST price,
	f.B_FILENAME fileName,
	f.B_FILE_NO fileNum,
	b.MAX_PERSON maxPerson,
	b.MIN_PERSON minPerson,
	b.MIN_AGE minAge
FROM ACTI_BOARD b
LEFT JOIN ACTI_FILE f ON b.B_NO = f.B_NO
LEFT JOIN ACTI_DATE d ON b.B_NO = d.B_NO
WHERE b.B_NO = #{num}
</select>

<resultMap type="com.trips.domain.yds.TripsBoardDto" id="boardMap">
		<result column="num" property="num"></result>
		<result column="title" property="title"/>
		<result column="writer" property="writer"></result>
		<result column="content" property="content"/>
		<result column="createDate" property="createDate"/>
		<result column="hostIntro" property="hostIntro"></result>
		<result column="countLike" property="countLike"/>
		<result column="price" property="price"/>
		<result column="maxPerson" property="maxPerson"></result>
		<result column="minPerson" property="minPerson"></result>
		<result column="minAge" property="minAge"></result>
		<collection property="fileName" ofType="String">
			<result property="fileName" column="fileName"/>
		</collection>
		<collection property="fileNum" ofType="int">
			<result property="fileNum" column="fileNum"></result>
		</collection>
</resultMap>

<delete id="removeBoard">
DELETE FROM ACTI_BOARD
WHERE B_NO = #{num}
</delete>

<select id="getLikeByBNO" resultType="int">
SELECT COUNT(*) FROM ACTI_LIKE WHERE B_NO= #{num}

</select>

<update id="modifyBoard">
UPDATE ACTI_BOARD b
SET
	b.B_TITLE = #{title},
	b.B_CONTENT = #{content},
	b.COST = #{price},
	b.B_HOSTINTRO = #{hostIntro}
WHERE b.B_NO = #{num}
</update>

<delete id="deleteFileByNumAndfileName">
DELETE FROM ACTI_FILE 
WHERE B_NO = #{num} AND B_FILENAME = #{fileName} 

</delete>

<insert id="insertFile">
	INSERT INTO ACTI_FILE (B_NO, B_FILENAME)
	VALUES (#{num}, #{fileName})
</insert>

<delete id="deleteFile">
DELETE FROM ACTI_FILE
WHERE B_FILE_NO = #{fileNum}
</delete>

<delete id="deleteFileByBoardNo">
DELETE FROM ACTI_FILE
WHERE B_NO = #{num}
</delete>
<delete id="deleteLikeByBoardNo">
DELETE FROM ACTI_LIKE
WHERE B_NO = #{num}
</delete>
<delete id="deleteDate">
DELETE FROM ACTI_DATE
WHERE B_NO = #{num}
</delete>

</mapper>